
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<table style="width: 67%;margin-left: 21%;margin-top: 6%;">
    <tr>
        <td>
            Daily Set Date
        </td>
        <td>
            Daily Set Date
        </td>
    </tr>
    <tr>
        <td>
            Daily Set Date
        </td>
        <td>
            Daily Set Date
        </td>
    </tr>
    <tr>
        <td>
            Daily Set Date
        </td>
        <td>
            Daily Set Date
        </td>
    </tr>
</table>
